@(joueurs: List[Joueur], scoresOfficiel: List[Score], scoresVincent: List[Score], pronoJournees: List[PronoJournee], precedenteJournee: JourneeTop14, prochaineJournee: JourneeTop14, journeeCourante: String, commentaires: List[Commentaire] )

@import helper._



@displayResumeScore(score: Score) = {
	<li>
	    @score.getJoueur().nom - @score.getPoints() 
	</li>
}

@displayResumeScores(scoresOfficiel: List[Score]) = {
	<!--<h1>@joueurs.size() joueur(s)</h1>-->
	<ul>
	    @for(score <- scoresOfficiel) {
	    	@displayResumeScore(score)
	    }
	</ul>
}

@displayScores(scoresOfficiel: List[Score], scoresVincent: List[Score]) = {
	<table border="1">
		<tr>
			<td>
				@displayResumeScores(scoresOfficiel)
				Score : pour chaque match, les points correspondent à la quote si et seulement si le gagnant pronostiqué gagne le match et à 0 sinon.
			</td>
			<td>
				@displayResumeScores(scoresVincent)
				Score : pour chaque match, les points correspondent à la quote multipliée par le nombre de points remportés par l'équipe (victoire = 4, nul = 2, bonus = +1).
			</td>
		</tr>
	</table>
}

@displayJournee(journee: JourneeTop14, dejaJoue: Boolean) = {
	<br/>
	<table>
		@journee.matchs.zipWithIndex.map { case (match_, matchId_) =>
			<tr>
				<td class="@{ if (match_.resultat == "matchNull") "nul" else  if (match_.resultat == "victoireDomicile") "gagnant" else if (match_.resultat == "victoireExterrieur") "perdant" }" align="right"> ( @match_.coteDomicile ) @match_.domicile </td>
				<td> VS </td>
				<td class="@{ if (match_.resultat == "matchNull") "nul" else  if (match_.resultat == "victoireExterrieur") "gagnant" else if (match_.resultat == "victoireDomicile") "perdant" }"> @match_.exterieur ( @match_.coteExterieur ) </td> 
			</tr>
		}
	</table>
}

@displayJournees(precedenteJournee: JourneeTop14, prochaineJournee: JourneeTop14) = {
	<table border="1">
		<tr>
			<td>
				Dernière journée (n°@precedenteJournee.numero.toString()):
				@displayJournee(precedenteJournee, true)
			</td>
			<td>
				Prochaine journée (n°@prochaineJournee.numero.toString()):
				@displayJournee(prochaineJournee, false)
			</td>
		</tr>
	</table>
}

@displayCommentaires(commentaires: List[Commentaire]) = {
	<h3>Chat</h3>
	
	@helper.form(action = routes.Application.ajoutCommentaire()) {
		<input type="text" id="searchbox" name="pseudo" placeholder="Pseudo">
		<input type="text" id="searchbox" name="texte" placeholder="Message">
		<input type="submit" id="searchsubmit" value="Ajouter message" class="btn primary">
	}
	
	<div id="commentaires">
		@for(commentaire <- commentaires) {
			@commentaire.pseudo : @commentaire.texte 
			<br/>
		}
	</div>
}

@displayPronoMatch(pronoMatch: PronoMatch) = {
		<tr>
			<td class="@{ if (pronoMatch.victoireADomicile) "gagnant" else "perdant" }">@pronoMatch.matchPronostique.domicile</td>
			<td class="@{ if (!pronoMatch.victoireADomicile) "gagnant" else "perdant" }">@pronoMatch.matchPronostique.exterieur</td>
		</tr>
}

@displayPronoJournee(pronoJournee: PronoJournee) = {
    <div class="pronoJournee">
    	Prono de <b> @pronoJournee.joueur.nom </b> pour la journée <b> n°@pronoJournee.journee.numero </b>
    	<table>
		@for(pronoMatch <- pronoJournee.pronoMatchs) {
			@displayPronoMatch(pronoMatch)
		}
		</table>
    </div>
}

@displayPronosJournee(pronoJournees: List[PronoJournee]) = {
    <ul>
        @for(pronoJournee <- pronoJournees) {
            <li>
            	@displayPronoJournee(pronoJournee)
            </li>
        }
    </ul>
}

@displayResumePronoJournees(pronoJournees: List[PronoJournee], journeeCourante: String) = {
	@if(pronoJournees != null) {
    	<h1>@pronoJournees.size() prono(s) pour la journée n°@journeeCourante</h1>
	} else {
    	<h1>Aucun prono pour la journée n°@journeeCourante</h1>
	}

	@helper.form(action = routes.Application.pronos()) {
		<input type="text" id="searchbox" name="journeeCourante" placeholder="Numero de la journée courante...">
		<input type="submit" id="searchsubmit" value="Mettre à jour la journée courante" class="btn primary">
	}

	<a class="btn success" id="add" href="@routes.Application.nouveauProno()">Ajouter ou éditer un prono</a>

	@if(pronoJournees != null) {
		@displayPronosJournee(pronoJournees)
	}
}


@main("Prono rugby") {

	@displayScores(scoresOfficiel, scoresVincent)
	<br/>
	@displayJournees(precedenteJournee, prochaineJournee)
	<br/>
	@displayCommentaires(commentaires)
	<br/>
	@displayResumePronoJournees(pronoJournees, journeeCourante)
	<a class="btn success" id="add" href="@routes.Application.nouveauProno()">Ajouter ou éditer un prono</a>
	<br/>
	<a class="btn success" id="add" href="@routes.Application.nouveauJoueur()">Ajouter un joueur</a>
	<a class="btn success" id="add" href="@routes.Application.nouveauJournee()">Ajouter une journée</a>
}